.error-box {
  background-color: #841cc0; 
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  opacity: 0;
  animation: fadeInOut 3s forwards;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Animación: aparece y desaparece */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}
